///
/// CSS variable definitions
///

@import '../modules/_typography';
@import '../modules/_colors';

:root {

	// General typography.
	--bbtc--display--font-family: #{$family_display};
	--bbtc--general--font-family: #{$family_general};
	--bbtc--headings--font-family: var( --bbtc--display--font-family );
	--bbtc--headings--primary--font-size: 2.25rem;
	--bbtc--headings--primary--font-weight: 400;

	// General colors.
	--bbtc--general--text-color: #333333;
	--bbtc--general--link-color: #5887ff;
}
