:root {
  --bbtc--general--font-family: Libre Franklin, Open Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bbtc--headings--font-family: Roboto Slab, Georgia, Times, Garamond, NonBreakingSpaceOverride, Hoefler Text, Lucida Bright, Lucidabright, Lucida Serif, Lucida, Liberation Serif, serif;
  --bbtc--headings--primary--font-size: 2.25rem;
  --bbtc--headings--primary--font-weight: 400;
  --bbtc--general--text-color: #333333;
  --bbtc--general--link-color: #5887ff;
}

:root {
  --bbtc--branding--site-title--font-family: var( --bbtc--headings--font-family );
  --bbtc--branding--site-title--font-size: 1.25rem;
  --bbtc--branding--site-title--font-weight: 500;
  --bbtc--buddypanel--nav-entry--font-family: Roboto Slab, Georgia, Times, Garamond, NonBreakingSpaceOverride, Hoefler Text, Lucida Bright, Lucidabright, Lucida Serif, Lucida, Liberation Serif, serif;
  --bbtc--buddypanel--nav-entry--font-size: 1rem;
  --bbtc--buddypanel--nav-link--text-color: var( --bbtc--general--text-color );
  --bbtc--buddypanel--icon--text-color: var( --bbtc--buddypanel--nav-link--text-color );
}

.buddyboss-child {
  font-family: var(--bbtc--general--font-family, sans-serif);
  color: var(--bbtc--general--text-color);
}

.buddyboss-child h1,
.buddyboss-child h2,
.buddyboss-child h3 {
  font-family: var(--bbtc--headings--font-family, serif);
}

.buddyboss-child h1,
.buddyboss-child h2 {
  font-size: var(--bbtc--headings--primary--font-size);
  font-weight: var(--bbtc--headings--primary--font-weight, normal);
}

.buddyboss-child .site-header .site-title {
  font-family: var(--bbtc--branding--site-title--font-family);
  font-size: var(--bbtc--branding--site-title--font-size);
  font-weight: var(--bbtc--branding--site-title--font-weight);
}

.buddyboss-child .site-header .sub-menu a {
  color: #122b46;
}

.buddyboss-child .buddypanel .buddypanel-menu.side-panel-menu li {
  font-family: var(--bbtc--buddypanel--nav-entry--font-family);
  font-size: var(--bbtc--buddypanel--nav-entry--font-size);
}

.buddyboss-child .buddypanel .buddypanel-menu.side-panel-menu a {
  font-size: inherit;
}

.buddyboss-child .buddypanel .buddypanel-menu.side-panel-menu .bs-submenu-toggle {
  font-size: var(--bbtc--buddypanel--nav-entry--submenu-toggle--font-size, 2em);
}
