:root {
  --bbtc--display--font-family: Roboto Slab, Georgia, Times, Garamond, NonBreakingSpaceOverride, Hoefler Text, Lucida Bright, Lucidabright, Lucida Serif, Lucida, Liberation Serif, serif;
  --bbtc--general--font-family: Libre Franklin, Open Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bbtc--headings--font-family: var( --bbtc--display--font-family );
  --bbtc--headings--primary--font-size: 2.25rem;
  --bbtc--headings--primary--font-weight: 400;
  --bbtc--general--text-color: #333333;
  --bbtc--general--link-color: #5887ff;
}

.font-size.font-size-smaller {
  font-size: 0.75em;
}

.font-size.font-size-small {
  font-size: 0.875em;
}

.font-size.font-size-regular {
  font-size: 1em;
}

.font-size.font-size-large {
  font-size: 1.2em;
}

.font-size.font-size-larger {
  font-size: 1.35em;
}

.family-display {
  font-family: var(--bbtc--display--font-family, serif);
}

.family-display.display-100 {
  font-weight: 100;
}

.family-display.display-200 {
  font-weight: 200;
}

.family-display.display-300 {
  font-weight: 300;
}

.family-display.display-400 {
  font-weight: 400;
}

.family-display.display-500 {
  font-weight: 500;
}

.family-display.display-600 {
  font-weight: 600;
}

.family-display.display-700 {
  font-weight: 700;
}

.family-display.display-800 {
  font-weight: 800;
}

.family-display.display-900 {
  font-weight: 900;
}

body.bb-custom-typo,
body.buddyboss-child {
  font-size: 1rem;
  font-family: var(--bbtc--general--font-family, sans-serif);
  line-height: 1.6875rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--bbtc--general--text-color);
}

body.bb-custom-typo h1,
body.bb-custom-typo .h1,
body.bb-custom-typo h2,
body.bb-custom-typo .h2,
body.bb-custom-typo h3,
body.bb-custom-typo .h3,
body.buddyboss-child h1,
body.buddyboss-child .h1,
body.buddyboss-child h2,
body.buddyboss-child .h2,
body.buddyboss-child h3,
body.buddyboss-child .h3 {
  font-family: var(--bbtc--headings--font-family, serif);
}

body.bb-custom-typo h1,
body.bb-custom-typo h2,
body.buddyboss-child h1,
body.buddyboss-child h2 {
  font-size: var(--bbtc--headings--primary--font-size);
  font-weight: var(--bbtc--headings--primary--font-weight, normal);
}

body.bb-custom-typo h4,
body.bb-custom-typo .h4,
body.bb-custom-typo h5,
body.bb-custom-typo .h5,
body.bb-custom-typo h6,
body.bb-custom-typo .h6,
body.buddyboss-child h4,
body.buddyboss-child .h4,
body.buddyboss-child h5,
body.buddyboss-child .h5,
body.buddyboss-child h6,
body.buddyboss-child .h6 {
  font-family: var(--bbtc--general--font-family, sans-serif);
}

.family-display {
  font-family: var(--bbtc--display--font-family, serif);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--bbtc--general--text-color);
  opacity: 0.8;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--bbtc--general--text-color);
  opacity: 0.8;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--bbtc--general--text-color);
  opacity: 0.8;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--bbtc--general--text-color);
  opacity: 0.8;
}
