///
/// Frontend content
///

body.bb-custom-typo,
body.buddyboss-child {

	.entry-title {
		line-height: 1.1;
	}

	.bb-course-footer,
	.ld-table-list-header .ld-text,
	.gamipress-achievement-points,
	.vjs-modal-dialog-content {
		font-family: var( --bbtc--general--font-family, sans-serif );
	}

	#content .mepr-price-menu .mepr-price-box-title {
		font-family: var( --bbtc--general--font-family, sans-serif );
	}

	.mepr-price-box-price span,
	.learndash-wrapper #ld-profile .ld-profile-heading {
		font-family: var( --bbtc--general--font-family, sans-serif );
		font-weight: 500;
	}

	.ld-profile-stats .ld-profile-stat strong {
		font-family: var( --bbtc--general--font-family, sans-serif );
		font-weight: 600;
	}
}

body.bb-custom-typo,
body.buddyboss-child {

	h4.comments-title {
		font-family: var( --bbtc--headings--font-family, serif );
	}
}

// Block content.
.wp-block-columns {
	margin: 0;
	gap: 1rem;

	& + .wp-block-columns {
		margin-top: 1rem;
	}

	.wp-block-column {
		margin: 0 !important;

		:last-child {
			margin: 0 0 1rem;
		}

		h3 {
			font-weight: 500;
		}
	}
}

@media ( min-width: 600px ) and ( max-width: 781px ) {

	.wp-block-columns:not( .is-not-stacked-on-mobile ) > .wp-block-column:not( :only-child ) {
		flex-basis: 100% !important;
	}
}
